{% extends 'blog/base.html' %}

{% block content %}
<h3>Информация по сайту</h3>
<p>
    Добро пожаловать на наш блог! Здесь вы сможете находить интересные статьи на различные темы, оставлять свои комментарии и делиться мнением о прочитанном.
</p>
<p>
    <strong>Правила пользования сайтом:</strong>
    <ul>
        <li>Уважайте мнение других пользователей. Комментарии, содержащие оскорбления или ненормативную лексику, будут удалены.</li>
        <li>При размещении комментариев старайтесь следовать теме статьи.</li>
        <li>Не публикуйте личную информацию, включая адреса и номера телефонов.</li>
        <li>Если у вас есть вопросы или предложения, вы всегда можете обратиться к администрации через раздел обратной связи.</li>
    </ul>
</p>
{% endblock %}